@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Saira", 'Arial', sans-serif;
    margin: 0;
    color: #3a4f1c;
    background-color: white;
}

.header {
    background-color: #3a4f1c;
    color: white;

}

.green-circle {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 150px;
    z-index: 1;

}

.painelImg {
    background: url('./src/img/painelImg.png') no-repeat center;
    background-size: 80%;
    width: auto;
    height: 350pt;
}

.navbar-brand {
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
}

.navbar-nav .nav-item .nav-link {
    color: white;
    margin-right: 22px;

}

.contato-img {
    background: url("./src/img/contato.jpg") center no-repeat;
    background-size: 100% auto;
    color: white;
    padding-top: 5%;
    padding-bottom: 1%;
    margin: 0;
    background-color: #3a4f1c;
}

.rodape-img {
    background: url("./src/img/rodape.jpg") center no-repeat;
    background-size: 100% auto;
    color: white;
    padding-top: 15%;
    padding-bottom: 1%;
    margin: 0;
    background-color: #3a4f1c;
}

.fimImg {
    background: url("./src/img/fim.jpg") center no-repeat;
    background-size: 100% auto;

    height: 500px;
    background-color: #ffffff;
}


.contato-texto {
    color: #eef1c6;
    margin-top: 5%;
}

.borda-circulo {
    width: 100%;
    border-radius: 72px;

}

.carde {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #eef1c6;
    border: 2.5px;
    border-style: solid;
    border-color: #3a4f1c;
    border-radius: 55px;
    background-clip: border-box;
}

.cardG {
    color: #eef1c6;
    background-color: #3a4f1c;
    border: 2px;
    border-style: solid;
    border-color: #eef1c6;
    border-radius: 55px;
    background-clip: border-box;
}

.card-quadrado {
    background-color: #eef1c6;
    float: right;

}

.footer {
    background-color: #5C6B2F;
    color: white;
    padding: 10px;

}